@import "../../Assets/mixin.scss";

.header {
    height: 48px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid $borderColor;
    padding: 0 16px;
}