@import "../../Assets/mixin.scss";

.footer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    border-top: 1px solid $borderColor;

    .keyhint{
        display: flex;
        flex-direction: row-reverse;
        padding: 0 16px;
        .keyhintContent{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 48px auto;
            align-items: center;
            .icon{
                height: 40px;
                margin: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid $borderColor;
            }
        }
    }
}