@import "../../Assets/mixin.scss";

.settingsPage {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32px 1fr;
    min-height: 0;
    justify-items: center;
    padding: 8px;
    row-gap: 16px;

    .tabs{
        background-color: $inputBackgroundColor;
        border-radius: 8px;
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 4px;
        .tab{
            background-color: $gray;
            border-radius: 4px;
            padding: 0 4px;
            transition: 0.2s;
            &.active {
                background-color: $accentColor;
            }
        }
        
    }
}