@import "../../Assets/mixin.scss";

.home{
    overflow: auto;
    padding: 16px;
    height: 100%;
    width: 100%;
}

.card{
    height: 72px;
    margin: 32px 64px;
    background-color: $inputForegroundColor;
    display: grid;
    grid-template-columns: 64px auto 1fr 240px 96px;
    grid-template-rows: 1fr;
    padding: 4px;
    border-radius: 4px;
    transition: 0.2s;
    align-items: center;
    column-gap: 8px;

    @media screen and (max-width:1024px) {
        grid-template-columns: 64px auto 1fr 96px;
        .details{
            display: none;
        }
    }

    img{
        height: 64px;
        width: 64px;
    }
    h4{
        color: $secondaryText;
        font-weight: light;
        font-style: italic;
    }


    .diff{
        height: 100%;
        position: relative;
        border-radius: 4px;
        .label{
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            width: auto;
            font-size: 0.6em;
            color: $secondaryText;
            border-top-left-radius: 4px;
            backdrop-filter: brightness(0.8);
            padding-right: 1em;
            clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
        }
        .text{
            width: 100%;
            font-size: 2em;
            text-align: center;
            line-height: 64px;
            text-shadow: 2px 2px $black;
        }
    }
    &:hover{
        background-color: $accentColor;
        .label{
            color: $accentColor;
            font-weight: bold;
        }
    }
    &:active{
        filter: brightness(0.9);
        transform: perspective(1000px) rotateY(0.5deg) rotateX(-5deg);
        transform-origin: top left;
    }
}

.advanced{
    background-color: $advanced;
}
.expert{
    background-color: $expert;
}
.master{
    background-color: $master;
}
.ozma{
    background: $ozma;
}