@import "../../Assets/mixin.scss";

.titlepage{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $pageBackgroundColor;
    
            .blue {
                clip-path: polygon(0 0, 15% 0%, 85% 100%, 0% 100%);
                background: radial-gradient(ellipse farthest-corner at 0 0, rgb(15, 28, 46), rgb(2, 2, 15), #01284e, rgb(20, 20, 30));
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
    
            .green {
                clip-path: polygon(15% 0, 100% 0, 100% 100%, 85% 100%);
                background: radial-gradient(ellipse farthest-corner at 0 0, rgb(16, 63, 30), #014e14, rgb(4, 19, 3), rgb(15, 28, 46));
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .titleText{
            position: absolute;
            height: 100%;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-style: italic;
            * {
                @include font-title
            }
            h1{
                font-size: 10vmin;
            }
            h2{
                font-size: 5vmin;
            }
            p{
                font-weight: 100;
                padding-top: 64px;
            }
            
        }
}

.hidden{
    display: none;
}